In [2]:
import sqlite3
conexion = sqlite3.connect("basedatos1.db")
cursor = conexion.cursor()

In [3]:
cursor.execute("CREATE TABLE PERSONAS(edad INTEGER, nombre TEXT, apellido TEXT)")
conexion.commit()

In [9]:
cursor.execute("INSERT INTO PERSONAS VALUES(16, 'Leonardo1', 'Rubio1')")
cursor.execute("INSERT INTO PERSONAS VALUES(21, 'Leonardo2', 'Rubio3')")
conexion.commit()

In [10]:
cursor.execute("SELECT * FROM PERSONAS")
regi_select= cursor.fetchall() 
conexion.commit()

In [11]:
print(regi_select)

[(18, 'Leonardo', 'Rubio'), (16, 'Leonardo1', 'Rubio1'), (21, 'Leonardo2', 'Rubio3')]

In [ ]:
conexion.close()

Ensayo de los datos

In [20]:
import pandas as pd
from sqlite3 import Error

In [15]:
datos=pd.read_csv("D:/Universidad/Cursos/coches.csv",sep=';')

In [27]:
basededatos= 'coches.bd'
def crear_conexion_db():
    try:
        conexion = sqlite3.connect(basededatos)
        return conexion
    except Error:
        print(Error)
def crear_tabla_coches(conexion):
    cursor = conexion.cursor()
    cursor.execute("CREATE TABLE coches(marca text, modelo text, combustible text, transmision text, estado text,matriculacion text, kilometraje integer, potencia real, precio real)")
    
def insertar_tabla_coches(conexion,coche):
    cursor = conexion.cursor()
    cursor.execute('INSERT INTO coches(marca, modelo, combustible, transmision, estado, matriculacion, kilometraje, potencia, precio) VALUES (?,?,?,?,?,?,?,?,?)',coche)
    conexion.commit()
    
def grabar_coche(conexion,datos):
    for fila in datos.itertuples():
        marca = fila[1]
        modelo = fila[2]
        combustible = fila[3]
        transmision = fila[4]
        estado = fila[5]
        matriculacion= fila[1]
        kilometraje= fila[1]
        potencia= fila[1]
        precio= fila[1]
        coche = (marca, modelo, combustible, transmision, estado, matriculacion, kilometraje, potencia, precio)
        insertar_tabla_coches(conexion,coche)

In [23]:
conexion = crear_conexion_db()

In [26]:
crear_tabla_coches(conexion)

In [28]:
grabar_coche(conexion,datos)

In [35]:
cursor = conexion.cursor()
cursor.execute("SELECT * FROM coches")
regi_select= cursor.fetchall() 
conexion.commit()
datos_pandas= pd.DataFrame(regi_select,columns=['marca', 'modelo', 'combustible', 'transmision', 'estado', 
                                                'matriculacion', 'kilometraje', 'potencia', 'precio'])

In [36]:
datos_pandas

,marca,modelo,combustible,transmision,estado,matriculacion,kilometraje,potencia,precio
0,Ford,Fiesta,Gasolina,Manual,Usado,Ford,Ford,Ford,Ford
1,Nissan,Pixo,Gasolina,Manual,Usado,Nissan,Nissan,Nissan,Nissan
2,Hyundai,i10,Gasolina,Manual,Usado,Hyundai,Hyundai,Hyundai,Hyundai
3,Renault,Twingo,Gasolina,Manual,Usado,Renault,Renault,Renault,Renault
4,Peugeot,107,Gasolina,Manual,Usado,Peugeot,Peugeot,Peugeot,Peugeot
...,...,...,...,...,...,...,...,...,...
2775,Volkswagen,Golf Sportsvan,Gasolina,Automática,Usado,Volkswagen,Volkswagen,Volkswagen,Volkswagen
2776,Mercedes-Benz,B 220,Gasolina,Automática,Usado,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz
2777,Opel,Zafira,Gasolina,Manual,Usado,Opel,Opel,Opel,Opel
2778,Opel,Zafira,Gasolina,Automática,Usado,Opel,Opel,Opel,Opel
2779,Volkswagen,Caddy,Diesel,Manual,Usado,Volkswagen,Volkswagen,Volkswagen,Volkswagen